.a_1 { color: red; }
.a_2 { color: red; }
.a_2 { color: red; }
@value a_3: red;
@keyframes a_4 {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

@import './b.module.css';
@value c_1, c_2 as c_alias from './c.module.css';
