name: ci

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  VSCODE_VERSION: '1.103.0'

jobs:
  test-vitest:
    strategy:
      fail-fast: false
      matrix:
        node: [22]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-and-node-modules
        with:
          node-version: ${{ matrix.node }}
      - run: node main.mts
