name: ci

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

env:
  VSCODE_VERSION: '1.101.2'

jobs:
  lint:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-and-node-modules
        with:
          node-version: 22
      - uses: actions/cache@v4
        with:
          path: |
            node_modules/.cache/prettier/.prettier-cache
            packages/*/dist
            packages/*/tsconfig.build.tsbuildinfo
            tsconfig.tsbuildinfo
            .eslintcache
          key: toolcache-lint-${{ runner.os }}-${{ github.sha }}
          restore-keys: toolcache-lint-${{ runner.os }}
      - run: npm run lint
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-and-node-modules
        with:
          node-version: 22
      - run: npm run build
  test:
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22]
        os: [ubuntu-24.04-arm, windows-11-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-and-node-modules
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/cache@v4
        with:
          path: node_modules/.vite/vitest
          key: toolcache-test-${{ runner.os }}-node${{ matrix.node }}-${{ github.sha }}
          restore-keys: toolcache-test-${{ runner.os }}-node${{ matrix.node }}
      - run: npm run test
  e2e:
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22]
        os: [ubuntu-24.04-arm, windows-11-arm]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-and-node-modules
        with:
          node-version: ${{ matrix.node }}
      - uses: actions/cache@v4
        with:
          path: |
            node_modules/.vite/vitest
            packages/*/dist
            packages/*/tsconfig.build.tsbuildinfo
          key: toolcache-e2e-${{ runner.os }}-node${{ matrix.node }}-${{ github.sha }}
          restore-keys: toolcache-e2e-${{ runner.os }}-node${{ matrix.node }}
      - uses: actions/cache@v4
        with:
          path: .vscode-test
          key: ${{ runner.os }}-vscode-${{ env.VSCODE_VERSION }}

      - run: xvfb-run -a npm run e2e
        if: runner.os == 'Linux'
      - run: npm run e2e
        if: runner.os != 'Linux'
