name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write # Required for npm trusted publishing with OIDC
  contents: write # Required for changesets/action
  pull-requests: write # Required for changesets/action

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'
      - run: npm install
      - run: npm run build
      - name: set release variables
        run: echo "date=$(date -u +'%Y-%m-%dT%H:%MZ')" >> $GITHUB_ENV
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: dotansimha/changesets-action@069996e9be15531bd598272996fa23853d61590e # v1.5.2
        with:
          version: npm run version
          publish: npx changeset publish
          createGithubReleases: aggregate
          githubReleaseName: Release ${{ env.date }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
      # `typescriptServerPlugins` looks for plugins in the node_modules directory inside the extension.
      # Therefore, before publishing the vscode extension, the ts-plugin must be installed in the vscode extension.
      # This is done during the execution of `npx vsce publish`.
      #
      # However, packages published with `npm publish` are not immediately reflected on npmjs.com.
      # Therefore, right after publishing a new version of the ts-plugin, installing the ts-plugin may fail.
      # As a result, `npx vsce publish` may also fail.
      #
      # To address this, if `npx vsce publish` fails, it will be retried.
      - run: |
          for _ in {1..5}; do
            npx vsce publish --no-git-tag-version --skip-duplicate && exit 0
            sleep 15
          done
          exit 1
        if: steps.changesets.outputs.hasChangesets == 'false'
        working-directory: packages/vscode
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
      - run: npx ovsx publish --skip-duplicate
        if: steps.changesets.outputs.hasChangesets == 'false'
        working-directory: packages/vscode
        env:
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
